<div th:fragment="pag(pag)" xmlns:th="http://www.thymeleaf.org">
    <nav aria-label="Page navigation example" th:if="${pag.getViewPages().size()>0}">
        <ul class="pagination">
            <li class="page-item">
                <a aria-label="Previous" class="page-link"
                   th:href="${pag.getQuery().formatted(pag.prev())}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item" th:each="item : ${pag.getViewPages()}">
                <a class="page-link" th:href="${pag.getQuery().formatted(item)}" th:text="${item}"></a>
            </li>
            <li class="page-item">
                <a aria-label="Next" class="page-link"
                   th:href="${pag.getQuery().formatted(pag.next())}">

                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>